footer {
    background-color: #4E606C;
    color: #fff;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-wrapper {

    display: flex;
    justify-content: space-between;
}

.icon-wrapper i {
    font-size: 2rem;
    padding: 1rem;
}

footer p {

}


.fa-twitter:hover {
    color: #1D9BF0;
 }

.fa-instagram:hover {
    color: #E905AB;
 }

 .fa-facebook:hover {
    color: #1472d1;
 }