#hero {
    background-image: url(./img/yogi.jpg);
    background-position: center 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 90%;
    margin: 0 auto;

    position: relative;
}

#hero h1 {
    position: absolute;
    right: 10%;
    bottom: 40%;

    font-size:clamp(1.2rem, 3vw, 2.25rem);
    
}